#version=RHEL9
#arch=aarch64
network --hostname=avalon.kemo.labs

# Do not configure the base interfaces if you're setting up a bridge or bond and things
#network --device=enP2s1f3np0 --no-activate
network --bootproto=static --device=bridge0 --gateway=192.168.42.1 --ip=192.168.42.43 --nameserver=192.168.42.9,192.168.42.10 --netmask=255.255.255.0 --ipv6=auto --activate --bridgeslaves=enP2s1f3np0
network --bootproto=static --device=bridge70 --ip=192.168.70.43 --nameserver=192.168.42.9,192.168.42.10 --netmask=255.255.254.0 --ipv6=auto --activate --bridgeslaves=bridge0.70

lang en_US.UTF-8
keyboard  --xlayouts='us'
timezone America/New_York --utc

rootpw --iscrypted --allow-ssh $6$EtgdRzLNjtTW8kEM$k8MUCK6FaT.I9yy6qoidMq2yjDJEDs.CHNbtwRdGt207NJprN1Y50aThasY2xa/EnpTQmL.eZqiKa9WJgJb/S0
sshkey --username=root "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/UQ6SVJ0Jk/fDfLpecIIIfTe3+Ry+oaF8AFKAZwXJ8xMMmrPcPX1JTb4k/keVPT5liqYLb6pxO9yKUb1fLIKXQj+6OaDFaq7J8O3ad5AjpwMH97pynPtjUnltDIPbMTLOUHMZCrvF/PIn0iQ2lfl48lADD/S/tOPh34TI8fv+miuCO7Gdsk9DqT9SxIRG4oKj7ZKp/PKyWuPheRhJ0KiSeFIHR3dXSJnLiL+JkdBotB4IK78Pygwo6P6Wyl2P4gobkKhy/YuTiSImbaN0G8YMJrUu1EzYQ5QlmNqPKVuFH8te41vxmTX47N5h8vfO9c00YFC5H9mtsPMGXYRTiRkB MasterKemoKey"

reboot
text
skipx

# Installing from the network: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_an_advanced_rhel_installation/creating-installation-sources-for-kickstart-installations_installing-rhel-as-an-experienced-user
# Use FTP for install
# url --url=ftp://ftp_user:ftpPassword@ftp.example.com/rhv44-install-root-dir/
# Use HTTP for install
# url --url=http://server.example.com/rhv44-installation-tree-root-dir
#url --url=${VM_OS_LOCATION}
# Use NFS for install
# nfs --server=nfs://nfs_server.example.com --dir=/exports/rhv44
# Use CDROM for install
cdrom
bootloader --append="rhgb quiet crashkernel=auto"
firstboot --disable
eula --agreed


# Partition clearing information
clearpart --all --initlabel
#clearpart --none --initlabel

zerombr
ignoredisk --only-use=nvme0n1

# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_an_advanced_rhel_8_installation/kickstart-commands-and-options-reference_installing-rhel-as-an-experienced-user#autopart_kickstart-commands-for-handling-storage
autopart --nohome --noswap --type=lvm --fstype=xfs

selinux --enforcing
firewall --enabled --ssh

%packages
@^minimal-environment
kexec-tools
bash-completion
cockpit
nano
git
jq
make
selinux-policy-devel
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
