SUPERUSER_PASSWORD={{ netbox_superuser_password | default('notpassword') }}
SUPERUSER_NAME={{ netbox_superuser_name | default('admin') }}
SUPERUSER_EMAIL={{ netbox_superuser_email | default('admin@example.com') }}