[Unit]
Description=NFS Server Container
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=15
ExecStop=/mnt/fastAndLoose/caas/nfs/config/service_stop.sh
ExecStart=/mnt/fastAndLoose/caas/nfs/config/service_start.sh

Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target