launch=gmysql
gmysql-host={{ pdns_mysql_host }}
gmysql-user={{ pdns_mysql_user }}
gmysql-dbname={{ pdns_mysql_db }}
gmysql-password={{ pdns_mysql_password }}
gmysql-dnssec=yes
api=yes
api-key={{ pdns_shared_api_key }}
webserver=yes
webserver-port={{ pdns_auth_web_port }}
webserver-address=0.0.0.0
webserver-allow-from=0.0.0.0/0
master=yes
local-address=0.0.0.0
local-port={{ pdns_auth_port }}
slave-cycle-interval=60
default-soa-edit=INCEPTION-INCREMENT
default-soa-content=ns1.@ admin.@ 0 10800 3600 604800 3600
enable-lua-records=yes
cache-ttl=0
negquery-cache-ttl=10
security-poll-suffix=
#log-dns-queries=yes
#logging-facility=4
#loglevel=4