#!/bin/bash

set -x

POD_NAME="{{ shared_pod_name }}"
SERVICE_NAME="{{ prometheus_service_name }}"
PROM_CONTAINER_IMAGE="{{ prometheus_image }}"
PROM_VOLUME_MOUNTS="-v {{ container_root_dir }}/{{ shared_pod_name }}-{{ prometheus_service_name }}/volumes/data:/prometheus:Z -v {{ container_root_dir }}/{{ shared_pod_name }}-{{ prometheus_service_name }}/volumes/config/prometheus.yml:/etc/prometheus/prometheus.yml:Z"

################################################################################### EXECUTION PREFLIGHT
## Ensure there is an action arguement
if [ -z "$1" ]; then
  echo "Need action arguement of 'start', 'restart', or 'stop'!"
  echo "${0} start|stop|restart"
  exit 1
fi

################################################################################### SERVICE ACTION SWITCH
case $1 in

  ################################################################################# RESTART/STOP SERVICE
  "restart" | "stop" | "start")
    echo "Stopping container services if running..."

    echo "Killing ${POD_NAME}-${SERVICE_NAME} container..."
    /usr/bin/podman kill ${POD_NAME}-${SERVICE_NAME}

    echo "Removing ${POD_NAME}-${SERVICE_NAME} container..."
    /usr/bin/podman rm -f -i ${POD_NAME}-${SERVICE_NAME}
    ;;

esac

case $1 in

  ################################################################################# RESTART/START SERVICE
  "restart" | "start")

    echo "Starting container services - iPerf3..."
    /usr/bin/podman run -dt \
      --pod ${POD_NAME} \
      --name ${POD_NAME}-${SERVICE_NAME} \
      --label homepage.group=Containers \
      --label homepage.name=Prometheus \
      --label homepage.icon=prometheus.png \
      --label homepage.description='Centralized Prometheus Endpoint' \
      ${PROM_VOLUME_MOUNTS} \
      ${PROM_CONTAINER_IMAGE} \
      ${PROM_COMMAND}

    ;;

esac
