#- Entertainment:
#  - Plex:
#      icon: plex.png
#      href: http://plex.kemo.labs:32400/web/
#      description: Media Server
#      widget:
#        type: plex
#        url: http://plex.kemo.labs:32400
#        key: {{ plex_token | default('notplex') }}
#  - Deluge:
#      icon: deluge.png
#      href: https://deluge.{{ app_wildcard_base }}/
#      description: Torrent downloader
#      widget:
#        type: deluge
#        url: https://deluge.{{ app_wildcard_base }}
#        password: {{ deluge_password | default('notdeluge') }}
#        #enableLeechProgress: true
#  - Jackett:
#      icon: jackett.png
#      href: https://jackett.{{ app_wildcard_base }}/
#      description: Source Aggrigator
#      widget:
#        type: jackett
#        url: https://jackett.{{ app_wildcard_base }}
#        password: {{ jackett_password | default('notjackett') }}
#  - Sonarr:
#      icon: sonarr.png
#      href: https://sonarr.{{ app_wildcard_base }}/
#      description: Series management
#      widget:
#        type: sonarr
#        url: https://sonarr.{{ app_wildcard_base }}
#        key: {{ sonarr_key | default('apikeyapikeyapikeyapikeyapikey') }}
#        #enableQueue: true
#  - Radarr:
#      icon: radarr.png
#      href: https://radarr.{{ app_wildcard_base }}/
#      description: Movie management
#      widget:
#        type: radarr
#        url: https://radarr.{{ app_wildcard_base }}
#        key: {{ radarr_key | default('apikeyapikeyapikeyapikeyapikey') }}
#        #enableQueue: true
#  - Bazarr:
#      icon: bazarr.png
#      href: https://bazarr.{{ app_wildcard_base }}/
#      description: Subtitle management
#      widget:
#        type: bazarr
#        url: https://bazarr.{{ app_wildcard_base }}
#        key: {{ bazarr_key | default('apikeyapikeyapikeyapikeyapikey') }}
#        #enableQueue: true
#  - Overseerr:
#      icon: overseerr.png
#      href: https://overseerr.{{ app_wildcard_base }}/
#      description: Media request form
#      widget:
#        type: overseerr
#        url: https://overseerr.{{ app_wildcard_base }}
#        key: {{ overseerr_key | default('apikeyapikeyapikeyapikeyapikey') }}
#  - Prowlarr:
#      icon: prowlarr.png
#      href: https://prowlarr.{{ app_wildcard_base }}/
#      description: Arr indexing
#      widget:
#        type: prowlarr
#        url: https://prowlarr.{{ app_wildcard_base }}
#        key: {{ prowlarr_key | default('apikeyapikeyapikeyapikeyapikey') }}
#  - Tautulli:
#      icon: tautulli.png
#      href: https://tautulli.{{ app_wildcard_base }}/
#      description: Media consumption statistics
#      widget:
#        type: tautulli
#        url: https://tautulli.{{ app_wildcard_base }}
#        key: {{ tautulli_key | default('apikeyapikeyapikeyapikeyapikey') }}
#  - sabnzbd:
#      icon: sabnzbd.png
#      href: https://sabnzbd.{{ app_wildcard_base }}/
#      description: Usenet downloader
#      widget:
#        type: sabnzbd
#        url: https://sabnzbd.{{ app_wildcard_base }}
#        key: {{ sabnzbd_key | default('apikeyapikeyapikeyapikeyapikey') }}

- Management:
  - Normandy:
      href: https://normandy.kemo.labs:9090/
      description: MS-01 Core Server, Cockpit
      icon: cockpit.png
  - Raza:
      href: https://raza.mgmt.kemo.labs/
      description: Raza Supermicro BMC
      icon: supermicro.png
  - Suki:
      href: https://suki.mgmt.kemo.labs/
      description: Suki Supermicro BMC
      icon: supermicro.png
  - Endurance:
      href: https://endurance.mgmt.kemo.labs/
      description: Endurance Supermicro BMC
      icon: supermicro.png
  - Serenity:
      href: https://serenity.mgmt.kemo.labs/
      description: Serenity Dell R730 iDRAC
      icon: dell.png

- Networking:
  - Unifi:
      href: https://unifi.kemo.labs/
      description: Ubiquiti Unifi Controller
      icon: unifi.png

- Services:
  - Home Assistant:
      href: https://home-assistant.{{ app_wildcard_base }}/
      description: Home Automation and Integration Platform
      icon: home-assistant.png
  - Minio:
      href: https://s3.{{ app_wildcard_base }}/
      description: S3 Object Storage
      icon: minio.png
  #- Identity Management:
  #    href: https://idm.kemo.labs/
  #    description: Red Hat IDM/FreeIPA Identity Management
  #    icon: freeipa.png
