- Entertainment:
  - Plex:
      icon: plex.png
      href: http://plex.kemo.labs:32400/web/
      description: Media Server
      widget:
        type: plex
        url: http://plex.kemo.labs:32400
        key: {{ plex_token | default('notplex') }}
  - Deluge:
      icon: deluge.png
      href: https://deluge.apps.kemo.labs/
      description: Torrent downloader
      widget:
        type: deluge
        url: https://deluge.apps.kemo.labs
        password: {{ deluge_password | default('notdeluge') }}
        #enableLeechProgress: true
  - Jackett:
      icon: jackett.png
      href: https://jackett.apps.kemo.labs/
      description: Source Aggrigator
      widget:
        type: jackett
        url: https://jackett.apps.kemo.labs
        password: {{ jackett_password | default('notjackett') }}
  - Sonarr:
      icon: sonarr.png
      href: https://sonarr.apps.kemo.labs/
      description: Series management
      widget:
        type: sonarr
        url: https://sonarr.apps.kemo.labs
        key: {{ sonarr_key | default('apikeyapikeyapikeyapikeyapikey') }}
        #enableQueue: true
  - Radarr:
      icon: radarr.png
      href: https://radarr.apps.kemo.labs/
      description: Movie management
      widget:
        type: radarr
        url: https://radarr.apps.kemo.labs
        key: {{ radarr_key | default('apikeyapikeyapikeyapikeyapikey') }}
        #enableQueue: true
  - Overseerr:
      icon: overseerr.png
      href: https://overseerr.apps.kemo.labs/
      description: Media request form
      widget:
        type: overseerr
        url: https://overseerr.apps.kemo.labs
        key: {{ overseerr_key | default('apikeyapikeyapikeyapikeyapikey') }}
  - Tautulli:
      icon: tautulli.png
      href: https://tautulli.apps.kemo.labs/
      description: Media consumption statistics
      widget:
        type: tautulli
        url: https://tautulli.apps.kemo.labs
        key: {{ tautulli_key | default('apikeyapikeyapikeyapikeyapikey') }}
  - sabnzbd:
      icon: sabnzbd.png
      href: https://sabnzbd.apps.kemo.labs/
      description: Usenet downloader
      widget:
        type: sabnzbd
        url: https://sabnzbd.apps.kemo.labs
        key: {{ sabnzbd_key | default('apikeyapikeyapikeyapikeyapikey') }}

- Management:
  - Normandy:
      href: https://normandy.kemo.labs:9090/
      description: MS-01 Core Server, Cockpit
      icon: cockpit.png
  - Raza:
      href: https://raza.mgmt.kemo.labs/
      description: Raza Supermicro BMC
      icon: supermicro.png
  - Suki:
      href: https://suki.mgmt.kemo.labs/
      description: Suki Supermicro BMC
      icon: supermicro.png
  - Endurance:
      href: https://endurance.mgmt.kemo.labs/
      description: Endurance Supermicro BMC
      icon: supermicro.png
  - Serenity:
      href: https://serenity.mgmt.kemo.labs/
      description: Serenity Dell R730 iDRAC
      icon: dell.png

- Networking:
  - Unifi:
      href: https://unifi.kemo.labs/
      description: Ubiquiti Unifi Controller
      icon: unifi.png

- Services:
  - Home Assistant:
      href: https://home-assistant.apps.kemo.labs/
      description: Home Automation and Integration Platform
      icon: home-assistant.png
  #- Identity Management:
  #    href: https://idm.kemo.labs/
  #    description: Red Hat IDM/FreeIPA Identity Management
  #    icon: freeipa.png
