- Entertainment:
  - Sonarr:
      icon: sonarr.png
      href: https://sonarr.kemo.labs/
      description: Series management
      widget:
        type: sonarr
        url: https://sonarr.kemo.labs
        key: apikeyapikeyapikeyapikeyapikey
  - Radarr:
      icon: radarr.png
      href: http://radarr.kemo.labs/
      description: Movie management
      widget:
        type: radarr
        url: http://radarr.kemo.labs
        key: apikeyapikeyapikeyapikeyapikey
  - Plex:
      icon: plex.png
      href: http://plex.kemo.labs/
      description: Media Server
      widget:
        type: plex
        url: http://plex.kemo.labs
        key: apikeyapikeyapikeyapikeyapikey

- Infrastructure:
  - Normandy:
      href: https://normandy.kemo.labs:9090/
      description: MS-01 Core Server, Cockpit
      icon: cockpit.png

- Management:
  - Raza:
      href: https://raza.mgmt.kemo.labs/
      description: Raza Supermicro BMC
      icon: supermicro.png
  - Suki:
      href: https://suki.mgmt.kemo.labs/
      description: Suki Supermicro BMC
      icon: supermicro.png
  - Endurance:
      href: https://endurance.mgmt.kemo.labs/
      description: Endurance Supermicro BMC
      icon: supermicro.png
  - Serenity:
      href: https://serenity.mgmt.kemo.labs/
      description: Serenity Dell R730 iDRAC
      icon: dell.png

#- Networking:

- Services:
  - Identity Management:
      href: https://idm.kemo.labs/
      description: Red Hat IDM/FreeIPA Identity Management
      icon: freeipa.png
