title: Kemo Labs/Networks
description: Internal Homepage for Kemo Labs/Networks
language: en
hideVersion: true
showStats: true

color: neutral
useEqualHeights: true
headerStyle: boxed

logpath: /data/logs

startUrl: https://kemo.labs
base: https://kemo.labs
target: _blank

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true
  showSearchSuggestions: true
  hideVisitURL: false
  provider: duckduckgo

layout:
  DNS:
    style: row
    columns: 4
    #fiveColumns: true
  Networking:
    style: row
    columns: 5
    fiveColumns: true
  Services:
    style: row
    columns: 5
    fiveColumns: true
  #Infrastructure:
  #  style: row
  #  columns: 5
  #  fiveColumns: true
  Management:
    style: row
    columns: 5
    fiveColumns: true
  Media:
    style: row
    columns: 4
    #fiveColumns: true
  Observability:
    style: row
    columns: 4
    #fiveColumns: true
  Containers:
    style: column
    columns: 5
    fiveColumns: true
  Databases:
    #initiallyCollapsed: true
    style: column
    columns: 5
    fiveColumns: true
  Redis:
    #initiallyCollapsed: true
    style: column
    columns: 5
    fiveColumns: true
  Misc:
    #initiallyCollapsed: true
    columns: 5
    fiveColumns: true