title: Kemo Labs/Networks
description: Internal Homepage for Kemo Labs/Networks
language: en
hideVersion: true
showStats: true

logpath: /data/logs

startUrl: https://kemo.labs
base: https://kemo.labs
target: _blank

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true
  showSearchSuggestions: true
  hideVisitURL: false
  provider: duckduckgo
