#- resources:
#    cpu: true
#    memory: true
#    cputemp: true
#    uptime: true
#    units: imperial
#    refresh: 30000
#- openmeteo:
#    label: Raleigh
#    latitude: 35.749602
#    longitude: -78.714263
#    timezone: America/New_York
#    units: imperial
#    cache: 15
#    format:
#      maximumFractionDigits: 1
#- datetime:
#    text_size: xl
#    format:
#      timeStyle: short
#- greeting:
#    text_size: xl
#    text: Welcome to Kemo Labs/Networks.
