WEBPASSWORD="{{ piholeWebPassword }}"
TZ="{{ timezone }}"

ADMIN_EMAIL="ken@kenmoini.com"
VIRTUAL_HOST="dns-pihole-{{ containerNumber }}"
ServerIP="192.168.42.1{{ containerNumber }}"
ServerIPv6="fdf4:e2e0:df12:a100::1{{ containerNumber }}"

PIHOLE_DNS_="192.168.42.9;192.168.42.10"
TEMPERATUREUNIT="f"