[Unit]
Description=Homelab Ingress
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=15
ExecStop=/opt/service-containers/ingress/scripts/service_stop.sh
ExecStart=/opt/service-containers/ingress/scripts/service_start.sh

Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target