{% if chronyd_pools is defined %}
{% for pool in chronyd_pools %}
pool {{ pool }} iburst
{% endfor %}
{% endif %}

{% if chronyd_servers is defined %}
{% for server in chronyd_servers %}
server {{ server }} iburst
{% endfor %}
{% endif %}

#keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
maxupdateskew 100.0
rtcsync
makestep 1 3
allow 192.168.0.0/16
allow 10.0.0.0/8
allow 100.64.0.0/10
allow 169.254.0.0/16
allow 172.16.0.0/12
allow 127.0.0.0/8