[Unit]
Description=ChronyD NTP Server Container
After=network-online.target
Wants=network-online.target

[Service]
ExecStop={{ container_root_dir }}/lab-chronyd/scripts/servicectl.sh stop
ExecStart={{ container_root_dir }}/lab-chronyd/scripts/servicectl.sh start
ExecReload={{ container_root_dir }}/lab-chronyd/scripts/servicectl.sh restart

TimeoutStartSec=30
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target