[Unit]
Description=dns-core-1 GoZones File-to-BIND Container
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=5
ExecStop=/opt/service-containers/dns-core-1/config/service_stop.sh
ExecStart=/opt/service-containers/dns-core-1/config/service_start.sh

Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target