[Unit]
Description=Metrics Ensemble
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=15
Type=forking
Restart=on-failure
ExecStop=/opt/service-containers/metrics/scripts/service_stop.sh
ExecStart=/opt/service-containers/metrics/scripts/service_start.sh

[Install]
WantedBy=multi-user.target