[Unit]
Description=Squid Proxy Container Services
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=15
ExecStop={{ container_root_dir }}/lab-squid/scripts/service_init.sh start
ExecStart={{ container_root_dir }}/lab-squid/scripts/service_init.sh stop
ExecReload={{ container_root_dir }}/lab-squid/scripts/service_init.sh restart

TimeoutStartSec=20
Type=forking
Restart=on-failure

[Install]
WantedBy=multi-user.target